In [11]:
import pandas as pd

In [12]:
import json

In [13]:
dataframe=pd.DataFrame()
for year in range(2008,2022):
    fp=open('data/winter_{start_year}-{end_year}.json'.format(start_year=year,end_year=year+1))
    fd=pd.json_normalize(json.load(fp)['results'])
    dataframe=pd.concat([dataframe,fd])

In [14]:
dataframe

                    date datatype            station attributes    value
0    2008-12-15T00:00:00     ADPT  GHCND:USW00003017       ,,W,   -244.0
1    2008-12-15T00:00:00     ASLP  GHCND:USW00003017       ,,W,  10298.0
2    2008-12-15T00:00:00     ASTP  GHCND:USW00003017       ,,W,   8324.0
3    2008-12-15T00:00:00     AWBT  GHCND:USW00003017       ,,W,   -222.0
4    2008-12-15T00:00:00     AWND  GHCND:USW00003017       ,,W,      4.7
..                   ...      ...                ...        ...      ...
695  2022-01-21T00:00:00     WDF2  GHCND:USW00003017       ,,W,     30.0
696  2022-01-21T00:00:00     WDF5  GHCND:USW00003017       ,,W,     50.0
697  2022-01-21T00:00:00     WSF2  GHCND:USW00003017       ,,W,     16.1
698  2022-01-21T00:00:00     WSF5  GHCND:USW00003017       ,,W,     25.1
699  2022-01-21T00:00:00     WT01  GHCND:USW00003017       ,,W,      1.0

[9740 rows x 5 columns]

In [15]:
dataframe_tmax=dataframe.groupby('datatype').get_group('TMAX')[['date','value']].set_index('date')

In [16]:
dataframe_tmax

                     value
date
2008-12-15T00:00:00    2.0
2008-12-16T00:00:00   34.0
2008-12-17T00:00:00   37.0
2008-12-18T00:00:00   28.0
2008-12-19T00:00:00   44.0
...                    ...
2022-01-17T00:00:00   62.0
2022-01-18T00:00:00   58.0
2022-01-19T00:00:00   31.0
2022-01-20T00:00:00   39.0
2022-01-21T00:00:00   36.0

[516 rows x 1 columns]

In [17]:
dataframe_tmin=dataframe.groupby('datatype').get_group('TMIN')[['date','value']].set_index('date')

In [18]:
dataframe_tmin

                     value
date
2008-12-15T00:00:00  -19.0
2008-12-16T00:00:00   -8.0
2008-12-17T00:00:00   14.0
2008-12-18T00:00:00    5.0
2008-12-19T00:00:00   14.0
...                    ...
2022-01-17T00:00:00   24.0
2022-01-18T00:00:00   24.0
2022-01-19T00:00:00   17.0
2022-01-20T00:00:00   16.0
2022-01-21T00:00:00   16.0

[516 rows x 1 columns]

In [20]:
dataframe_tmax.rename(columns={'value':'TMAX'},inplace=True)

In [21]:
dataframe_tmin.rename(columns={'value':'TMIN'},inplace=True)

In [22]:
dataframe_tmax_tmin = pd.concat([dataframe_tmax,dataframe_tmin],axis=1)

In [23]:
dataframe_tmax_tmin

                     TMAX  TMIN
date
2008-12-15T00:00:00   2.0 -19.0
2008-12-16T00:00:00  34.0  -8.0
2008-12-17T00:00:00  37.0  14.0
2008-12-18T00:00:00  28.0   5.0
2008-12-19T00:00:00  44.0  14.0
...                   ...   ...
2022-01-17T00:00:00  62.0  24.0
2022-01-18T00:00:00  58.0  24.0
2022-01-19T00:00:00  31.0  17.0
2022-01-20T00:00:00  39.0  16.0
2022-01-21T00:00:00  36.0  16.0

[516 rows x 2 columns]

In [24]:
dataframe_tavg=(dataframe_tmax_tmin['TMAX']+dataframe_tmax_tmin['TMIN'])/2

In [25]:
dataframe_tmax_tmin['TAVG']=dataframe_tavg

In [26]:
dataframe_tmax_tmin

                     TMAX  TMIN  TAVG
date
2008-12-15T00:00:00   2.0 -19.0  -8.5
2008-12-16T00:00:00  34.0  -8.0  13.0
2008-12-17T00:00:00  37.0  14.0  25.5
2008-12-18T00:00:00  28.0   5.0  16.5
2008-12-19T00:00:00  44.0  14.0  29.0
...                   ...   ...   ...
2022-01-17T00:00:00  62.0  24.0  43.0
2022-01-18T00:00:00  58.0  24.0  41.0
2022-01-19T00:00:00  31.0  17.0  24.0
2022-01-20T00:00:00  39.0  16.0  27.5
2022-01-21T00:00:00  36.0  16.0  26.0

[516 rows x 3 columns]

In [29]:
l=[]
for act_date in dataframe_tmax_tmin.index:
    l.append(act_date.split('T')[0])
dataframe_tmax_tmin.index=l

In [30]:
dataframe_tmax_tmin

            TMAX  TMIN  TAVG
2008-12-15   2.0 -19.0  -8.5
2008-12-16  34.0  -8.0  13.0
2008-12-17  37.0  14.0  25.5
2008-12-18  28.0   5.0  16.5
2008-12-19  44.0  14.0  29.0
...          ...   ...   ...
2022-01-17  62.0  24.0  43.0
2022-01-18  58.0  24.0  41.0
2022-01-19  31.0  17.0  24.0
2022-01-20  39.0  16.0  27.5
2022-01-21  36.0  16.0  26.0

[516 rows x 3 columns]

In [31]:
dataframe_tmax_tmin.to_csv("data/all_data_max_min_avg.csv")